body {
  background-color: #66d1ff;
}

h1 {
  font-size: 40px;
  text-indent: 30px;
  text-align: center;
}

.blep {
  margin-top: 60px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 60px;
  padding: 20px;
  text-align: left;
  line-height: 3;
  background-color: #b3e8ff;
  font-size: 17px;
}

.p1 {
  text-align: justify;
  text-indent: 50px;
  /* font-style: TimesNewRoman; */
}

.title {
  text-align: center;
  text-indent: 50px;
  /* font-style: TimesNewRoman; */
}

/* img {
  width: 40%;
  height: 40%;
} */

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  /* background-color: DodgerBlue; */
}
